In [1]:
# numerical calculation & data frames
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn.objects as so

# statistics
import statsmodels.api as sm

# custom plot
from sbcustom import *

In [2]:
# pandas options
pd.set_option("mode.copy_on_write", True)
pd.options.display.precision = 2
pd.options.display.float_format = '{:.2f}'.format  # pd.reset_option('display.float_format')
pd.options.display.max_rows = 6

# Numpy options
np.set_printoptions(precision = 2, suppress=True)

In [4]:
car = pd.read_csv('train-data.csv')
car.drop(columns=['Unnamed: 0'], inplace=True)
car

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.00,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.00,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.00,8.61 Lakh,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.00,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.00,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.00,NaN,2.50

In [5]:
car.info

<bound method DataFrame.info of                                   Name   Location  Year  Kilometers_Driven  \
0               Maruti Wagon R LXI CNG     Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option       Pune  2015              41000
2                         Honda Jazz V    Chennai  2011              46000
...                                ...        ...   ...                ...
6016             Mahindra Xylo D4 BSIV     Jaipur  2012              55000
6017                Maruti Wagon R VXI    Kolkata  2013              46000
6018             Chevrolet Beat Diesel  Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp   5.00
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp   5.00
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp   5.00
...        ...          ...        ...         ...      ...        ...    ...
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp   8.00
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp   5.00
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp   5.00

      New_Price  Price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
...         ...    ...
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]>